* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

.search_Bar {
  background-color: pink;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  #search_Input {
    height: 30px;
    width: 200px;
  }
  #search_Btn {
    height: 30px;
    width: 60px;
  }
}

.movie_Card {
  height: 550px;
  width: 100%;
  .upper_half {
    display: flex;

    height: 400px;
    gap: 5px;
    .upper_half_one {
      display: flex;
      height: 400px;
      width: 268px;
    }
    .upper_half_two {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
    }
  }
  .lower_half {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .fav_btn {
      height: 20px;
      width: 40px;
    }
  }
}
