* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color: pink;
  --input-color: blue;
  --search-color: yellow;
  --body-tx-color: white;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  background-image:url(dark.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.search_Bar {

  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  #search_Input {
    background-color: var(--input-color);
    border-radius: 8px;
    height: 35px;
    width: 250px;
    padding-left: 5px;
    font-size: medium;
  }
  #search_Btn {
    background-color: var(--search-color);
    border-radius: 8px;
    height: 35px;
    width: 70px;
    font-size: medium;
  }
}

.movie_Card {
  height: 550px;
  width: 100%;
  .upper_half {
    display: flex;
    height: 400px;
    gap: 10px;
    .upper_half_one {
      border-radius: 18px;
      display: flex;
      height: 400px;
      width: 268px;
      overflow: hidden;
      #poster{
      object-fit:fill;
    }
    }
    .upper_half_two {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      #title{
        text-align: center;
        font-size:xx-large;
      }
      .rating_genre{
        display: flex;
        justify-content:space-evenly;
        align-items: normal;
        flex-wrap: nowrap;
      }
      #rating{
        flex: 1;
        font-size:large;
      }
      #genre{
        font-size:large;
        flex:1;
      }
      #actors{
        font-size:large;
        
      }
      #plot{
        font-size:large;

      }
    }
  }
  .lower_half {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .fav_btn {
      display: none;
      height: 20px;
      width: 40px;
    }
  }
}
