* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #EEEEEE;
  font-family:'Courier New', Courier, monospace;
}

:root{
  --input-color:#D3DAD9;
  --primary-color: rgba(52, 76, 100, .9);;
  --bg-image: url(bg\ image.jpg);
}

body,html{
  height: 100%;
  width: 100%;
  margin: 0; 
  padding: 0;
  overflow: hidden;
}

.backgound{
  height: 100%;
  width: 100%;
  position: fixed;
  background: var(--bg-image);
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.search_Bar {

  height: 50px;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  #search_Input {
    background-color: var(--input-color);
    border-radius: 8px;
    height: 35px;
    width: 250px;
    padding-left: 5px;
    font-size: medium;
    color: #344C64;
  }
  #search_Btn {
    background-color: var(--primary-color);
    border-radius: 8px;
    height: 35px;
    width: 70px;
    font-size: medium;
  }
}

.movie_Card {
  height: 400px;
  width: 900px;
  background-color:rgba(0 ,0,0, .6);
  border-radius: 20px;
  backdrop-filter: blur(4px);
  .upper_half {
    display: flex;
    gap: 10px;
    .upper_half_one {
      border-radius: 18px 0px 0px 18px;
      display: flex;
      height: 400px;
      width: 268px;
      overflow: hidden;
      #poster{
      object-fit:fill;
    }
    }
    .upper_half_two {
      height: 250px;
      display: flex;
      width: 200px;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      #title{
        text-align: center;
        font-size:xx-large;
      }
      .rating_genre{
        display: flex;
        justify-content:space-evenly;
        align-items: normal;
        flex-wrap: nowrap;
      }
      #rating{
        flex: 1;
        font-size:large;
      }
      #genre{
        font-size:large;
        flex:1;
      }
      #actors{
        font-size:large;
        
      }
    }
  }
  .lower_half {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    #plot{
        font-size:large;
        position:absolute;
        bottom:10px;
        left: 278px;
        height: 140px;
        width: 621px;
        padding:10px 10px 0px 0px;
      }
    .fav_btn {
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      position: fixed;
      top: 10px;
      right: 14px;
      border: none;
      svg{
        fill:whitesmoke;
        
      }
    }
  }
}

.fav_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height:38px;
  width: 38px;
  position: fixed;
  top: 10px;
  right: 10px;
  svg{
    height: 38px;
    width: 38px;
    fill: var(--primary-color);
  }
}


.fav_moivies_div{
  display: flex;
  justify-content: center;
  .fav_movies{
  border-radius: 30px;
  height:300px;
  width: 400px;
  border: solid black 2px;
  overflow: hidden;
  h3{
    text-align: center;
    background-color: rgba(0 ,0,0, .6);
  }
  ul{
    background-color: var(--primary-color);
    height: 100%;
    li{
      padding: 18px;
    }
  }
}
}

@media(max-width:500px){
.search_Bar {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  display: bl;
  justify-content: center;
  align-items:baseline;
  gap: 8px;

  #search_Input {
    border-radius: 12px;
    height: 35px;
    width: 180px;
    padding-left: 5px;
  }
  #search_Btn {
    border-radius: 12px;
    height: 35px;
    width: 70px;
    font-size: small;
  }
}

.movie_Card {
  width: 450px;
  background-color:rgba(0 ,0,0, .75);
  border-radius: 20px;
  .upper_half {
    height: 240px;
    width: 100%;
    gap: 0;
    .upper_half_one {
      border-radius: 18px 0px 0px 0px;
      height: 240px;
      width: 150px;
      #poster{
      object-fit:fill;
      width:100%;
      height: 100%;
    }
    }
    .upper_half_two {
      height: 240px;
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      #title{
        width: 260px;
        font-size: x-large;
      }
      .rating_genre{
        display: flex;
        flex-direction: column;
        gap: 30px;

      }
      #rating{
        font-size:medium;
      }
      #genre{       
        font-size:medium;
      }
      #actors{

        font-size:medium;
      }
    }
  }
  .lower_half {

    #plot{

      height: 140px;
      padding: 10px;
      width: 440px;
      font-size: medium;
      position:relative;
      bottom:10px;
      top: 5px;
      left: 0px;
      padding:0px;
    }
  }
}
.fav_list{
  height:30px;
  width: 30px;
  top: 15px;
  right: 10px;
  svg{
    height: 30px;
    width: 30px;
  }
}
}